body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #51b15c;
  opacity: 0.5;
  border-radius: 2px;
}

::-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(81, 177, 92, 0.06);
}

th {
  box-sizing: border-box;
  padding: 12px 10px;
  border: 0.3px solid #c8c8cc;
}

td {
  box-sizing: border-box;
  padding: 12px 10px;
  border: 0.3px solid #c8c8cc;
}
